<?xml version='1.0' encoding='utf-8'?>
<plugin id="ch.codeworx.cordova.plugin.barcodescanner.emdk" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>EMDK BarcodeScanner</name>
	<js-module name="EmdkBarcode" src="www/EmdkBarcode.js">
		<clobbers target="emdkBarcode" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="EmdkBarcode">
				<param name="android-package" value="ch.codeworx.cordova.plugin.barcodescanner.emdk.EmdkBarcode" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="com.symbol.emdk.permission.EMDK" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<uses-library android:name="com.symbol.emdk" android:required="false" />
		</config-file>

		<!--framework src="src/android/com.symbol.emdk.jar" custom="true" /-->
		<framework src="src/android/extras.gradle" custom="true" type="gradleReference" />

		<source-file src="src/android/EmdkBarcode.java" target-dir="src/ch/codeworx/cordova/plugin/barcodescanner/emdk" />
		<source-file src="src/android/com.symbol.emdk.jar" target-dir="lib" />
	</platform>
</plugin>
